@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: #f5f5f5;
  font-family: Montserrat;
}

.AdminLogin {
    margin-top: 10%;
}

.login-logo-img {
  height: 150px;
  margin-bottom: 20px; 
}

.searchButton {
  background-color: #ddbe7d; 
  border: none;
  color: white;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
} 

.search-bar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
}

.search-bar:hover {
  background-color: transparent;
  outline: none;
  border: none;
}

.search-bar:active {
  background-color: transparent;
  outline: none;
  border: none;
}

.login-bar:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.login-btn {
  margin-top: 10%;
  width: 200px;
  background-color: #ddbe7d; 
  border: none;
} 

.login-btn-txt {
  margin-left: -6%;
  background-color: #f2f2f2; 
  color: #000;
  font-weight: bold;
  border: none;
} 
.login-btn-txt:hover {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ddbe7d;
} 



.login-btn:hover {
  background-color: #000; 
}
