@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: #f2f2f2;
  font-family: Montserrat;
}

a {
  color: #000;
}

.Home{
  margin-top: 20%;
}

.searchTerm {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.logo-img {
  height: 150px;
  width: 150px; 
  margin-left: 60%;
  margin-top: -10%;
}

.searchButton {
  background-color: #ddbe7d; 
  border: none;
  color: white;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
} 

.search-bar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
}

.search-bar:hover {
  background-color: transparent;
  outline: none;
  border: none;
}

.search-bar:active {
  background-color: transparent;
  outline: none;
  border: none;
}

.search-bar:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.search-btn {
  margin-left: -6%;
  background-color: #ddbe7d; 
  border: none;
} 

.search-btn:focus {
  margin-left: -6%;
  background-color: #ddbe7d; 
  border: none;
} 

.home-login-btn-txt {
  margin-left: -6%;
  background-color: #f2f2f2; 
  color: #000;
  font-weight: bold;
  border: none;
} 
.home-login-btn-txt:hover {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ddbe7d;
} 

.home-login-btn {
  display: flex; 
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;
}


.search-btn:hover {
  background-color: #000; 
}

