#navbar-back {
    height: 70px;
    width: 70px;
}

.logo-navbar {
    height: 60px;
    width: 60px;   
}

#bc-navbar {
    justify-content: center;
    text-align: center;
}

.logout-btn {
  background-color: transparent; 
  color: #000;
  font-weight: bold;
  border: none;
} 

.logout-btn:hover {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ddbe7d;
} 

