.success-img {
    height: 200px;
    width: 210px; 
}

.failure-img {
    height: 200px;
    width: 210px; 
}

.Failure {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.Success {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
